{% extends "./layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="/stylesheets/list.css">
    {% endblock %}

    {% block content %}

    <div  class="card cadastro">
            <a href="/student/cadastro">
                <div class="img-nome">
                    <span id="create">&#43;</span>
                    <h3>Cadastrar</h3>
                </div>
            </a>
            <div>
                <p>Cadastrar novo estudante.</p>
            </div>
            
            
    </div>

    {% for professor in data %}
    
        <div  class="card" >
            <a href={{"/student/" + professor.id}}>
            <div class="img-nome">
                <img src={{professor.img_url}} alt="estudante" />
                <h3>{{professor.nome}}</h3>
            </div>
            </a>

            <div>
                <p>{{professor.escolaridade}}</p>
                <p>{{professor.email}}</p>
            </div>
            
            <div class="actions">
                <a href={{ "/student/editar/" + professor.id }}>&#128393;</a>
                <form method="POST" action={{"/student/" + professor.id +  "?_method=DELETE"}}>
                    <button class="del-button" type="submit">&#10060;</button>
                </form>
            </div>
            
        </div>

        
    {% endfor %}

     
        <script src="/javascripts/confirm-del.js"></script>
    </body>
    </html>
    
    
    {% endblock %}


    