.card li {
  list-style: none;
  font-size: 20px;
  line-height: 27px;
}

.card {
  width: 450px;
  margin: 50px auto 0;
  text-align: center;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-radius: 15px;
}

.card ul {
  margin-top: 8px;
}

.card img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 450px;
  max-height: 400px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.container {
  position: relative;
  text-align: center;
}

.container a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.bottom-right form {
  display: inline;
}

.bottom-right form button {
  background: none;
  border: none;
}

.bott {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f05373;
  margin-top: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bott-item {
  width: 135px;
  height: 64px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  display : flex;
  align-items : center;
  justify-content: center;
}

.bott .bott-item + .bott-item {
  border-left: 1px solid #444;
}