{% extends "./layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="/stylesheets/form.css">
    {% endblock %}

    {% block content %}

        <div class="form-container">

            <form action="/professor" method="post">

                <h1>Cadastro do professor</h1>

                <div class="field">
                    <label for="img_url">Avatar url</label>
                    <input type="text" id="img_url" name="img_url" />
                </div>

                <div class="field">
                    <label for="nome">Nome completo</label>
                    <input type="text" id="nome" name="nome" />
                </div>

                <div class="field">
                    <label for="nasc">Data de nascimento</label>
                    <input type="date" id="nasc" name="nasc" />
                </div>

                <div class="field">
                    <label for="escolaridade">Grau de escolaridade</label>
                    <select name="escolaridade" id="escolaridade">
                        <option value="0">Selecione o grau de escolaridade</option>
                        <option value="1">Ensino Médio Completo</option>
                        <option value="2">Ensino Superior Completo</option>
                        <option value="3">Mestrado</option>
                        <option value="4">Doutorado</option>
                    </select>
                </div>

                <fieldset>
                    <legend>
                        <h2>Tipo de aula</h2>
                    </legend>

                    <div class="field-check">
                        <div class="radio">
                            <input type="radio" id="presencial" name="tipo" value="Presencial" />
                            <label for="presencial">Presencial</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="distancia" name="tipo" value="À distância" />
                            <label for="distancia">À distância</label>
                        </div>
                    </div>
                </fieldset>

                <div class="field">
                    <label for="area">Área de atuação</label>
                    <input type="text" id="area" name="area" />
                </div>

                <button type="submit">
                    Cadastrar
                </button>
            </form>

        </div>


    </body>
    </html>
    
    
    {% endblock %}


    